.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
}

.cart-button {
    margin-left: auto;
}

.goods-list {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cart-list {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart-item {
    border: 1px solid wheat;
    width: 180px;
    box-sizing: border-box;
    padding: 0px 20px;
    margin: 10px 10px;
}
body {
    padding: 0;
    margin: 0;
}
header {
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: lightseagreen;
    color:lightyellow;
}
input {
    outline: none;
}



.goods-item {
    border: 1px solid wheat;
    width: 180px;
    box-sizing: border-box;
    padding: 0px 20px;
    margin: 10px 10px;
}
.notVisible {
    display: none;
}

